<!DOCTYPE html> {% extends "base.html" %}
<html>

<head>
  <script src="/static/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/owncss.css">

  <style>
    h1 {
      margin-top: 10px;
    }
  </style>

</head>

<body>
  {% block content %}
  <div class="container-fluid">
    <p class="infotext">
      In this view you can search for a series by title. After finding the series
      you want, you get the option to save it. By saving series you can come back
      to them any time and see their ratings.
    </p>
  </div>
  <h1 class="text-center"> TMDb search </h1>
  <div class="col-lg-12">
    <style>
      .form-signin {
        max-width: 550px;
        padding: 15px;
        margin: 0 auto;
      }
    </style>


    <div class="container text-center">
      <form class="form-signin" id="login_form" method="post" action="/omdbsearch/main/">

        {% csrf_token %}


        <br>
        <input type="text" name="title" class="form-control" placeholder="Title of the series." value="" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Get Data</button>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
          <tr>
            <th class="header"> Name
              <i class="icon-sort"></i>
            </th>
            <th class="header"> Summary
              <i class="icon-sort"></i>
            </th>
            <th class="header"> Add to Can
                <i class="icon-sort"></i>
            </th>
            <!--  <th class="header"> Public Repos <i class="icon-sort"></i></th>
                <th class="header"> Public Gists <i class="icon-sort"></i></th>
                <th class="header"> Email <i class="icon-sort"></i></th>
                <th class="header"> Followers <i class="icon-sort"></i></th>
                <th class="header"> Following <i class="icon-sort"></i></th> -->
          </tr>
        </thead>
        <tbody>

          {% for result in show %}
          <tr>
            <td>{{ result.name }}</td>
            <td>{{ result.overview }}</td>
            <td>
              <form class="form-signin" method="get" action="/omdbsearch/main?id={{ result.id }}">
                <!-- <input type="submit" class="btn" value="{{ result.id }}" name="id"> -->
                <button type="submit" class="btn btn-info btn-sm" name="foo" value="{{ result.id }}" >Add</button>
              </form>
            </td>
          </tr>
          {% endfor %}


        </tbody>
      </table>
    </div>
  </div>
  <h2 align="center">
    <img src="https://www.themoviedb.org/assets/2/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg"
      class="img-fluid" alt="tmdblogo" width="50%" height="50%">
  </h2>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %} {% endblock %}
</body>

</html>